mixin footer
  footer
    .row
      ul
        li: strong Kaka‘ako 
        li 324 Coral Street, Honolulu, Hawaii 96813 
        li 808-532-HANK (4265)
      ul
        li: strong Maui 
        li Ka‘anapali Parkway, Lahaina, Maui, 96761 
        li 808-661-0031
    .row
      ul
        li Open 7 Days Aloha
        li Site Design &amp; Development: <a href="http://www.walltowall.com" target="_blank" style="display: inline-block;">walltowall.com</a>