mixin nav
  header#nav
    nav
      h1: a(href="index.html") Hank's Haute Dogs
      ul
        li.home: a.animsition-link(href="index.html") Home
        li.menu: a.animsition-link(href="menu.html") Menu
        li.about: a.animsition-link(href="about.html") About
        li.info: a.animsition-link(href="info.html") Visit
        li.social: a(href="https://www.facebook.com/hankshautedogs"): img(src="images/facebook.png")
        li.social: a(href="https://twitter.com/hankshautedogs"): img(src="images/twitter.png")
        li.social: a(href="https://instagram.com/hankshautedogs"): img(src="images/instagram.png")