include includes/_mixin

+template("Hank's Haute Dogs", "about")
  section
    .row
      .large-5.columns.show-for-large-up
        img(src="images/hank_img.png" alt="Hank Adaniya")
      #board.large-7.columns.pull-up
        .text-center
          img(src="images/back_board.png")
        p The Hank's Concept is built around the company's principal, Henry Adaniya. As a prominent restauranteur he has promoted some of the highest profile chefs in the country. It is a venture founded on his entreprenurial spirit and love for food. Trio, his world-renowned restaurant, garnered hundreds of accolades and awards over the past twelve years. Now, in a bold move from the fine dining to a fast food arena, Henry focuses on his family roots here in developing Hank's Haute Dogs. The hot dog is an edible icon of this story that everyone can savor both in flavor and success. 
        h2 Hank Adaniya
        p One of the handful restauranteurs to achieve a mobil Guide five-star rating in North America, he leaves the prestige of luxury dining for his love of hot dogs and his roots in Hawaii. In variations, every man dreams of his, every woman falls in love with it and every child just simply wants to eat it. Hank doesn't just sell hot dogs, he sells a romance with food.
        h5 Featured on Diners, Drive-ins, and Dives
        div(class="pretty-embed" data-pe-videoid="mSqcs6Stjb0" data-pe-fitvids="true")
        h5 Featured on Man vs. Food
        video(controls width="480" height="360")
          source(src="video/manvsfood.mp4" type="video/mp4")
          source(src="video/manvsfood.mov" type="video/mov")
          source(src="video/manvsfood.ogg" type="video/ogg")