include includes/_mixin

+template("Hank's Haute Dogs", "home")
  section
    .row
      #sausage-slider.large-8.medium-8.columns.large-push-4.pull-up
        ul.sausage-orbit(data-orbit data-options="timer_speed: 3000; pause_on_hover: false; navigation_arrows: false; animation:slide; bullets:false; slide_number:false; circular: false; timer: true;")
          li
            img(src="images/large_andouille.png" alt="Andouille Dog")
          li
            img(src="images/large_brat.png" alt="Bratwurst Dog")
          li
            img(src="images/large_chicago.png" alt="Chicago Dog")
          li
            img(src="images/large_chilidog.png" alt="Chili Dog")
          li
            img(src="images/large_hanksfrank.png" alt="Hanks Frank Dog")
          li
            img(src="images/large_hawaiian.png" alt="Hawaiian Dog")
          li
            img(src="images/large_chicken.png" alt="Chicken Dog")
          li
            img(src="images/large_chorizo.png" alt="Chorizo Dog")
          li
            img(src="images/large_nodog.png" alt="No Dog Dog")
          li
            img(src="images/large_polish.png" alt="Polish Dog")

      #intro.large-4.medium-12.columns.large-pull-8
        p Hank's Haute Dogs presents a creative play on the All-American favorite to appeal to a wide range of tastes and diets. The foundation is the authentic Chicago Hot Dog followed by both regional and specialty sausages of exceptional quality. Hank's Haute Dogs is fine fun... you know back to the comfort food — well done, great ingredients and innovative thinking.