include includes/_mixin

+template("Hank's Haute Dogs", "info")
  section
    .row
      .snaps.hide-for-small.hide
        img.snap.one(src="images/info-photo01.jpg")
        img.snap.two(src="images/info-photo02.jpg")
      #information
        .kakaako
          img.map(src="images/map-kakaako.png")
          .kakaako-info
            ul.vcard
              li.fn: h3 Kaka‘ako
              li.street-address 324 Coral Street
              li.locality Honolulu, Hawaii 96813
              li.tel (808) 532-4265
              li: a(href="https://www.google.com/maps/place/Hank's+Haute+Dogs/@21.2979285,-157.8610391,17z/data=!4m9!1m6!2m5!1srestaurants!3m3!1srestaurants!2s324+Coral+St,+Honolulu,+HI+96813!3s0x7c006e08e891cf49:0x953341b3dbc32f77!3m1!1s0x7c006e08e9d91585:0xd246128c6f83ece5" target="_blank") View in Google Maps
            ul.hours
              li: h3 Hours
              li Open 7 Days ALOHA
              li Monday – Thursday 10am – 4pm
              li Friday 10am – 7pm
              li Saturday 11am – 7pm
              li Sunday 11am – 4pm
        .sheraton
          img.map(src="images/map-sheraton.png")
          .sheraton-info.row
            ul.vcard
              li.fn: h3 Sheraton Maui <span><a href="http://www.sheraton-maui.com/dining/hankshautedogs" target="_blank">Site</a></span>
              li.street-address 2605 Ka‘anapali Parkway
              li.locality Lahaina, Maui 96761
              li.tel (808) 661-0031
              li Limited Menu
              li: a(href="https://www.google.com/maps/place/Sheraton+Maui+Resort+%26+Spa/@20.9265344,-156.69405,17z/data=!4m9!1m6!2m5!1shotels!3m3!1shotels!2sSheraton+Maui+Resort+%26+Spa,+2605+Kaanapali+Parkway,+Lahaina,+Maui,+HI+96761,+United+States!3s0x79552b418976c85b:0xc96d046f2f5b6e1f!3m1!1s0x79552b418976c85b:0xc96d046f2f5b6e1f" target="_blank") View in Google Maps
            ul.hours
              li: h3 Hours
              li Daily 11am – 3pm
            .email
              h3 E-mail
              p: a(href="mailto:office@hankshautedogs.com") office@hankshautedogs.com