include includes/_mixin

+template("Hank's Haute Dogs", "menu")
  section
    .row
      #intro.large-7.large-push-5.columns.pull-up
        p Hank's Haute Dogs is a great place to chow down on an American staple done with a twist. Pick a classic or get haute. Hank's Dogs taste great on their own, but pair them with sides like Hank's Awesome French Fries and you'll be in Haute Dog Heaven.
    #menu
      #classic.row
        .large-3.columns.category
          img(src="images/menu_classic.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-chicago.png")
              p Genuine Chicago Vienna all-beef hot dog with the famous snap! Try one with everything!
            li
              img(src="images/hhd-polish.png")
              p Another Chicago favorite, big bold, flavor, pile it on!
            li
              img(src="images/hhd-chilidog.png")
              p Chicago Dog with Hank's homemade chili, raw onion and cheddar cheese.
      #haute.row
        .large-3.columns.category
          img(src="images/menu_haute.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-hawaiian.png")
              p Portuguese sausage with mango mustard and pineapple relish.
            li
              img(src="images/hhd-brat.png")
              p Classic steamed, Dusseldorf mustard and sauerkraut.
            li
              img(src="images/hhd-chorizo.png")
              p Grilled, brown mustard, grilled onion and cilantro.
            li
              img(src="images/hhd-andouille.png")
              p Grilled, spicy with onion and Cajun spiced mustard.
            li
              img(src="images/hhd-chicken.png")
              p Grilled Chicken Sausage, sweet mango relish, lime mustard.
            li
              img(src="images/hhd-nodog.png")
              p Avocado, tomato, onion, cucumber, Chinese parsley, spicy chipotle mayo and cheddar.
            li
              img(src="images/hhd-fatboy.png")
              p Our best dog wrapped in bacon, deep fried served with mayo, tomato and lettuce...HDBLT!
            li
              img(src="images/hhd-bratfancois.png")
              p NEED NEW COPY HERE
            li
              img(src="images/hhd-greek.png")
              p NEED NEW COPY HERE
            li
              img(src="images/hhd-hanksfrank.png")
              p NEED NEW COPY HERE
            li
              img(src="images/hhd-lobsterfatboy.png")
              p NEED NEW COPY HERE
            li
              img(src="images/hhd-burger.png")
              p NEED NEW COPY HERE
      #daily.row
        .large-3.columns.category
          img(src="images/menu_daily.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-italianbeef.png")
              p <strong>MONDAY</strong><br />
                | Every Monday we serve the infamous Chicago Italian Beef, Homemade Italian Sausage or both!
            li
              img(src="images/hhd-boar.png")
              p <strong>TUESDAY</strong><br />
                | Cran-apple relish, black pepper-thyme mustard, lettuce.
            li
              img(src="images/hhd-alligator.png")
              p <strong>WEDNESDAY</strong><br />
                | Spicy Louisiana Andouille with real alligator and beef. BBQ mustard, horseradish cream &amp; vinegar slaw.
            li
              img(src="images/hhd-buffalo.png")
              p <strong>THURSDAY</strong><br />
                | Buffalo and beef sausage made with brown ale and chipotle, pineapple relish, cabbage and Guinness mustard.
            li
              img(src="images/hhd-lobster.png")
              p <strong>FRIDAY–SATURDAY</strong><br />
                | Lobster sausage seared in butter then dressed with garlic-relish aioli, lettuce tomato and pickled takuan radish OR Lobster Fat Boy! Wrapped in bacon then deep fried. Oh yah!
            li
              img(src="images/hhd-kobe.png")
              p <strong>SUNDAY</strong><br />
                | with hoisin-ginger mustard, sesame napa cabbage, pickled daikon-carrot and furikake.
      #sides.row
        .large-3.columns.category
          img(src="images/menu_sidesbev.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-beeffries.png")
              p Fresh cut Castle Rock potatoes, double fried crispy!
            li
              img(src="images/hhd-fries.png")
              p NEED NEW COPY HERE
            li
              img(src="images/hhd-cheesefries.png")
              p NEED NEW COPY HERE
            li
              img(src="images/hhd-onionrings.png")
              p Sweet onions dipped in crispy Panko batter.
            li
              img(src="images/hhd-macncheese.png")
              p Penne with white truffle scented cheddar cream.
            li
              img(src="images/hhd-cremebrulee.png")
              p Burnt caramel vanilla custard.
            li
              img(src="images/hhd-dippingsauce.png")
              ul
                li Wasabi Creme
                li Garlic Aioli
                li Furikake Ranch
                li Curry Ketchup
                li Chipotle Mayo
            li
              img(src="images/hhd-drinks.png")
              ul
                li Hibiscus Lemonade
                li Pineapple ice
                li Fresh Ginger Soda
                li Lilikoi-Lime Soda
      #goods.row
        .large-3.columns.category
          img(src="images/merch.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-tshirt.png")
              p <strong>Hank's T-Shirt</strong><br />
                | Purchase a Hank's Haute Dogs shirt and add some hauteness to your closet!
            li
              img(src="images/hhd-giftcard.png")
              p <strong>Hank's Gift Card</strong><br />
                | What beter than to give the gift of Hank's on any occasion!