include includes/_mixin

+template("Hank's Haute Dogs", "menu")
  section
    .row
      #intro.large-7.large-push-5.columns.pull-up
        p Hank's Haute Dogs is a great place to chow down on an American staple done with a twist. Pick a classic or get haute. Hank's Dogs taste great on their own, but pair them with sides like Hank's Awesome French Fries and you'll be in Haute Dog Heaven.
    #menu
      #classic.row
        .large-3.columns.category
          img(src="images/menu_classic.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-chicago.png")
              p Genuine Chicago Vienna all-beef dog with the natural casing snap! Classic 7 toppings.
            li
              img(src="images/hhd-hanksfrank.png")
              p All beef natural casing hot dog, Dusseldorf mustard, relish onion, pickle.
            li
              img(src="images/hhd-polish.png")
              p Another Chicago classic, grilled, bolder garlic flavor, brown mustard, grilled onions.
            li
              img(src="images/hhd-chilidog.png")
              p Chicago Dog with Hank's homemade chili, raw onion and cheddar cheese.
            li
              img(src="images/hhd-brat.png")
              p Classic steamed, Dusseldorf mustard and sauerkraut.
            
      #haute.row
        .large-3.columns.category
          img(src="images/menu_haute.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-hawaiian.png")
              p Portuguese sausage with mango mustard and pineapple relish.
            li
              img(src="images/hhd-chorizo.png")
              p Bold Mexican style pork sausage, brown mustard, grilled onion, cilantro.
            li
              img(src="images/hhd-andouille.png")
              p Grilled spicy pork sausage, Cajun mustard, gilled onions.
            li
              img(src="images/hhd-chicken.png")
              p Grilled Chicken Sausage, sweet mango relish, lime mustard.
            li
              img(src="images/hhd-nodog.png")
              p Avocado, tomato, onion, pickle, cilantro, spicy chipotle mayo, cheddar cheese.
            li
              img(src="images/hhd-fatboy.png")
              p Bacon wrapped all-beef dog deep fried, tomato, lettuce and mayo.
            li
              img(src="images/hhd-lobsterfatboy.png")
              p Bacon wrapped Lobster Dog, deep fried, garlic aioli, lettuce, tomato.
    
      #daily.row
        .large-3.columns.category
          img(src="images/menu_daily.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-burger.png")
              p <strong>EVERYDAY</strong><br />
                | Char-grilled seasoned beef patty, onion, lettuce, tomato, hank sauce.
            li
              img(src="images/hhd-italianbeef.png")
              p <strong>MONDAY</strong><br />
                | Thin roast beef simmered in Italian seasoned au jus, served wet with sautéed bell pepper and/or hot housemate Giardiniera
            li
              img(src="images/hhd-italiansausage.png")
              p <strong>MONDAY</strong><br />
                | Spiced house-made pork sausage, red pepper relish, grilled onions
            li
              img(src="images/hhd-boar.png")
              p <strong>TUESDAY</strong><br />
                | Feral pig sausage, cran-apple relish, black pepper-thyme Dijon, lettuce.
            li
              img(src="images/hhd-alligator.png")
              p <strong>WEDNESDAY</strong><br />
                | Spicy alligator-beef sausage, BBQ mustard, horseradish cream, vinegar slaw.
            li
              img(src="images/hhd-buffalo.png")
              p <strong>THURSDAY</strong><br />
                | Lean beefy blend, Guinness mustard, pineapple relish, caraway sauerkraut.
            li
              img(src="images/hhd-lobster.png")
              p <strong>FRIDAY–SATURDAY</strong><br />
                | House-made blend of lobster, shrimp and fish sausage seared in butter, garlic-relish aioli, takuan, lettuce, tomato.
            li
              img(src="images/HHD-BratFrancois.png")
              p <strong>SATURDAY</strong><br />
                | Bratwurst, truffle mustard-mayo, sautéed herb mushrooms,  melted Swiss cheese.
            li
              img(src="images/hhd-kobe.png")
              p <strong>SUNDAY</strong><br />
                | Premium wagyu beef, hoisin-ginger glaze, sesame slaw, pickled daikon-carrot, furikake.
            li
              img(src="images/hhd-greek.png")
              p <strong>SUNDAY</strong><br />
                | Grilled lamb sausage, tzatziki sauce, lettuce, tomato, onion.
      #sides.row
        .large-3.columns.category
          img(src="images/menu_sidesbev.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-fries.png")
              p Premium skin on french cut fries.
            li
              img(src="images/hhd-beeffries.png")
              p Fresh cut Castle Rock potatoes, double fried crispy!
            li
              img(src="images/hhd-cheesefries.png")
              p Natural cut fries with truffle cheese sauce
            li
              img(src="images/hhd-onionrings.png")
              p Sweet onions dipped in crispy Panko batter.
            li
              img(src="images/hhd-macncheese.png")
              p Penne pasta with white truffle cheese cream sauce.
            li
              img(src="images/hhd-cremebrulee.png")
              p French burnt caramel vanilla custard.
            li
              img(src="images/hhd-dippingsauce.png")
              ul
                li Wasabi Creme
                li Garlic Aioli
                li Furikake Ranch
                li Curry Ketchup
                li Chipotle Mayo
            li
              img(src="images/hhd-drinks.png")
              ul
                li Hibiscus Lemonade
                li Pineapple ice
                li Fresh Ginger Soda
                li Lilikoi-Lime Soda
      #goods.row
        .large-3.columns.category
          img(src="images/merch.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/hhd-tshirt.png")
              p <strong>Hank's T-Shirt</strong><br />
                | Purchase a Hank's Haute Dogs shirt and add some hauteness to your closet!
            li
              img(src="images/hhd-giftcard.png")
              p <strong>Hank's Gift Card</strong><br />
                | What beter than to give the gift of Hank's on any occasion!