include includes/_mixin

+template("Hank's Haute Dogs", "menu")
  section
    .row
      #intro.large-7.large-push-5.columns.pull-up
        p Hank's Haute Dogs is a great place to chow down on an American staple done with a twist. Pick a classic or get haute. Hank's Dogs taste great on their own, but pair them with sides like Hank's Awesome French Fries and you'll be in Haute Dog Heaven.
    #menu
      #classic.row
        .large-3.columns.category
          img(src="images/menu_classic.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/dog_chicago.png")
              p Genuine Chicago Vienna all-beef hot dog with the famous snap! Try one with everything!
            li
              img(src="images/dog_polish.png")
              p Another Chicago favorite, big bold, flavor, pile it on!
            li
              img(src="images/dog_chili.png")
              p Chicago Dog with Hank's homemade chili, raw onion and cheddar cheese.
      #haute.row
        .large-3.columns.category
          img(src="images/menu_haute.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/dog_hawaiian.png")
              p Portuguese sausage with mango mustard and pineapple relish.
            li
              img(src="images/dog_brat.png")
              p Classic steamed, Dusseldorf mustard and sauerkraut.
            li
              img(src="images/dog_chorizo.png")
              p Grilled, brown mustard, grilled onion and cilantro.
            li
              img(src="images/dog_andouille.png")
              p Grilled, spicy with onion and Cajun spiced mustard.
            li
              img(src="images/dog_chicken.png")
              p Grilled Chicken Sausage, sweet mango relish, lime mustard.
            li
              img(src="images/dog_nodog.png")
              p Avocado, tomato, onion, cucumber, Chinese parsley, spicy chipotle mayo and cheddar.
            li
              img(src="images/dog_fatboy.png")
              p Our best dog wrapped in bacon, deep fried served with mayo, tomato and lettuce...HDBLT!
      #daily.row
        .large-3.columns.category
          img(src="images/menu_daily.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              img(src="images/dog_italianBeef.png")
              p <strong>MONDAY</strong><br />
                | Every Monday we serve the infamous Chicago Italian Beef, Homemade Italian Sausage or both!
            li
              img(src="images/dog_wildBoar.png")
              p <strong>TUESDAY</strong><br />
                | Cran-apple relish, black pepper-thyme mustard, lettuce.
            li
              img(src="images/dog_alligator.png")
              p <strong>WEDNESDAY</strong><br />
                | Spicy Louisiana Andouille with real alligator and beef. BBQ mustard, horseradish cream &amp; vinegar slaw.
            li
              img(src="images/dog_buffalo.png")
              p <strong>THURSDAY</strong><br />
                | Buffalo and beef sausage made with brown ale and chipotle, pineapple relish, cabbage and Guinness mustard.
            li
              img(src="images/dog_lobster.png")
              p <strong>FRIDAY–SATURDAY</strong><br />
                | Lobster sausage seared in butter then dressed with garlic-relish aioli, lettuce tomato and pickled takuan radish OR Lobster Fat Boy! Wrapped in bacon then deep fried. Oh yah!
            li
              img(src="images/dog_kobe.png")
              p <strong>SUNDAY</strong><br />
                | with hoisin-ginger mustard, sesame napa cabbage, pickled daikon-carrot and furikake.
      #sides.row
        .large-3.columns.category
          img(src="images/menu_sidesbev.png")
        .large-9.columns
          ul.large-block-grid-4.small-block-grid-2.medium-block-grid-3
            li
              h3 Sides
            li
              h3 Dipping Sauces
              ul
                li Wasabi Creme
                li Garlic Aioli
                li Furikake Ranch
                li Curry Ketchup
                li Chipotle Mayo
              h3 Tropical Cocktails
              ul
                li Hibiscus Lemonade
                li Pineapple ice
                li Fresh Ginger Soda
                li Lilikoi-Lime Soda
            li
              h3 Goods
              dl
                dt: img(src="images/tshirt.jpg")
                dt Hank's T-Shirt
                dd Purchase a Hank's Haute Dogs shirt and add some hauteness to your closet!
                dt: img(src="images/HanksGiftCard_sm.png")
                dt Hank's Gift Card
                dd What beter than to give the gift of Hank's on any occasion!